body {
    background-color: #f7c682;
    font-family: 'Hanson Bold', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {

    width: 90%;
    max-width: 1300px;
    min-width: 700px;
    height: 584px; /* header - 148, content-wrapper - 576 footer - 120px*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

.header {
    background-color: transparent;
    font-size: 50px;
    padding: 10px;
}
.title-position{
    font-family: "Clear Sans", sans-serif;
    font-size: 30px;
    padding: 0 0 30px 10px;
}
.content-wrapper {
    height: 576px;
    display: flex;
    flex: 1;
}

.left-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    /*flex: 5;*/
    /*!*border-right: 2px solid #ffd700;*!*/
    /*display: block;*/
    /*position: relative;*/
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.top-right-container,
.bottom-right-container {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-text {
    font-family: "Clear Sans", sans-serif;
    font-size: 20px;
    width: 250px;
    margin-top: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px 310px 0 0 ;
    width: 100%;             /* Гарантуємо, що ширина 100% */
    margin: 0;               /* Видаляємо будь-які margin */
    box-sizing: border-box;  /* Включаємо padding у розрахунок ширини */
}

.footer a {
    text-decoration: none;
    font-family: "Clear Sans", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 0.3s;
}
.footer a:hover {
    background-color: #555;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}


@font-face {
    font-family: 'Hanson Bold';
    src: url('fonts/Hanson-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*@media (min-width: 1300px)*/
/*{*/
/*    .right-container{*/
/*        flex: 1px;*/
/*    }*/
/*}*/













/*body {*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: #c18f68;*/
/*    font-family: 'Press Start 2P', cursive;*/

/*}*/
/*.containerDisplay {*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    width: 100%;*/
/*    max-width: 1024px;*/
/*}*/
/*.name {*/
/*    font-size: clamp(22px, 2vw, 30px);*/
/*    color: black;*/
/*    white-space: pre;*/
/*    margin-bottom: 10px;*/
/*    margin-left: 5px;*/
/*    word-break: break-word;*/
/*    max-width: 100%;*/
/*}*/
/*.position{*/
/*    font-size: clamp(15px, 2vw, 18px);*/
/*    color: black;*/
/*    margin-left: 5px;*/
/*    padding-bottom: 30px;*/
/*}*/

/*.canvas {*/
/*    width: 1024px;*/
/*    height: 576px;*/
/*    background-size: contain;*/
/*}*/
/*.buttons {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    gap: 15px;*/
/*    margin-top: 20px;*/
/*}*/
/*.buttons a {*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    color: white;*/
/*    background-color: #333;*/
/*    padding: 10px 20px;*/
/*    border-radius: 10px;*/
/*    transition: background 0.3s;*/
/*}*/
/*.buttons a:hover {*/
/*    background-color: #555;*/
/*}*/

/*.toast {*/
/*    visibility: hidden;*/
/*    min-width: 250px;*/
/*    background: rgba(255, 255, 255, 0.3);*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    bottom: 30px;*/
/*    transform: translateX(-50%);*/
/*    z-index: 1;*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s, visibility 0.5s;*/
/*}*/
/*.toast.show {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/