
.page_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}
.page2 .page_title{
    padding-right: 25px;
}

.page1{
    position: absolute;
    top: 48px;
    left: 45px;
    background: none;
    font-family: 'Courier New', monospace;
    color: #333;
}
.container {
    width: 290px;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 6px;
    margin-bottom: 10px;
    font-size: 11px;
}

.main-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.date-info {
    color: #666;
    margin-bottom: 12px;
}

.description {
    margin-bottom: 8px;
    line-height: 1.3;
}

.page2{
    position: absolute;
    top: 48px;
    right: 5px;
    width: 330px;
    background: none;
    font-family: 'Courier New', monospace;
    font-size: 10px;
    color: #333;
}

.skills{
    font-size: 10px;
    line-height: 2;
    padding-bottom: 10px;
}
.repositoryLink{
    font-size: 9px;
    line-height: 1.4;
    margin: 0 60px 10px 60px;

}

.closeButton{
    position: absolute;
    top: 30px;
    right: 23px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}